<h2>1. Check availability</h2>
<app-registry-confirm
  *ngIf="isRegistryOk; else formRegistry"
></app-registry-confirm>

<ng-template #formRegistry>
  <div class="card mt-3 registry-form">
    <div class="card-body">
      <form [formGroup]="registryForm" (ngSubmit)="onSubmit()">
        <h5>What is your address?</h5>
        <p>Check immediately what is available at your address.</p>
        <div class="card-body full_address mt-2" *ngIf="isPersonalAddress">
          <div
            class="d-flex flex-row align-items-center gap-2"
            *ngIf="addressInfo$ | async as addressInfo"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="green"
              class="bi bi-check-circle-fill mr-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>
            <p class="card-text">
              {{ addressInfo.street }} - {{ addressInfo.city }} /
              {{ addressInfo.country }}
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4 mt-2">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="postCode"
                formControlName="postCode"
                [class.is-invalid]="
                  registryForm.get('postCode')?.invalid &&
                  registryForm.get('postCode')?.touched
                "
              />
              <label for="postCode" class="form-label">Postal Code</label>
              <div
                *ngIf="
                  registryForm.get('postCode')?.invalid &&
                  registryForm.get('postCode')?.touched
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="registryForm.get('postCode')?.errors?.['minlength']"
                >
                  Postal Code must have 5 digits.
                </div>
                <div
                  *ngIf="registryForm.get('postCode')?.errors?.['maxlength']"
                >
                  Postal Code must be at most 5 digits.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="houseNumber"
                formControlName="houseNumber"
                [class.is-invalid]="
                  registryForm.get('houseNumber')?.invalid &&
                  registryForm.get('houseNumber')?.touched
                "
              />
              <label for="houseNumber" class="form-label">House number</label>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="addition"
                formControlName="addition"
              />
              <label for="addition" class="form-label">Addition</label>
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary mt-4"
          type="submit"
          [disabled]="!registryForm.valid"
        >
          Compare Packages
        </button>
      </form>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</ng-template>

<app-internet-plans></app-internet-plans>
