<div class="card mt-3">
  <div class="card-body">
    <div
      class="d-flex flex-row align-content-center justify-content-between my-3"
    >
      <div class="d-flex flex-row align-content-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="20"
          fill="#0D6EFD"
          class="bi bi-geo-alt-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
          />
        </svg>
        <p class="card-text ms-3">Zuidplein 444</p>
      </div>
      <a style="cursor: pointer" (click)="changeAddress()"> Change </a>
    </div>
    <hr />
    <div class="d-flex flex-row align-content-center my-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="30"
        fill="green"
        class="bi bi-check m"
        viewBox="0 0 16 16"
      >
        <path
          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
        />
      </svg>
      <div class="ms-3 vstack gap-3">
        <h5 class="card-title">Yes! Skynet is available</h5>
        <p class="card-text">
          At your address, a download speed of up to <span>1000 Mbit/s</span> is
          achievable via Skynet's <span>fiber optic cable network.</span> With
          us you are already ready for the future.
        </p>
      </div>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
