<div class="card mt-3">
  <div class="card-body">
    <form [formGroup]="paymentForm" (ngSubmit)="onPayment()">
      <h5>Payment details</h5>
      <div class="row mt-4">
        <div class="input-group">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="cardNumber"
              aria-describedby="creditCardHelpBlock"
              formControlName="cardNumber"
              appCardNumberFormatter
              [class.is-invalid]="cardNumber?.invalid && cardNumber?.touched"
            />
            <label for="cardNumber">CARD NUMBER</label>
          </div>
          <span class="input-group-text">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-credit-card"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"
              />
              <path
                d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"
              />
            </svg>
          </span>
        </div>
        <p class="form-text helper_text">Credit Card must be 16 digits.</p>
      </div>

      <div class="row mb-4">
        <div class="col mt-2">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="expirationDate"
              appExpirationDateFormatter
              formControlName="expirationDate"
            />
            <label for="expirationDate" class="form-label">EXPIRATION DATE</label>
          </div>
        </div>
        <div class="col mt-2">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="cvvCode"
              formControlName="cvvCode"
              [class.is-invalid]="cvvCode?.invalid && cvvCode?.touched"
            />
            <label for="cvvCode" class="form-label">CVV</label>
            <div
              *ngIf="cvvCode?.invalid && cvvCode?.touched"
              class="invalid-feedback"
            >
              <div *ngIf="cvvCode?.errors?.['minlength']">
                CVV must have 3 digits.
              </div>
              <div *ngIf="cvvCode?.errors?.['maxlength']">
                CVV must be at most 3 digits.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col mt-2">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="cardHolder"
              formControlName="cardHolder"
            />
            <label for="cardHolder">CARD OWNER</label>
          </div>
        </div>
      </div>
      <button
        class="btn btn-success mt-4"
        type="submit"
        style="width: 100%"
        [disabled]="!paymentForm.valid"
      >
        Confirm payment
      </button>
    </form>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
<app-payment-error *ngIf="isPaymentFailed"></app-payment-error>
