/* You can add global styles to this file, and also import other style files */

$text-color-light: rgb(103, 106, 108);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);


body {
  background-color: #f1f2f3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
