<div class="invisible_margin"></div>
<div class="card sticky-top">
  <div class="card-body">
    <div class="d-flex flex-row align-content-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-cart4"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
        />
      </svg>
      <h5 class="card-title ms-3">YOUR ORDER</h5>
    </div>
    <hr />
    <div class="accordion accordion-flush open" id="internetPackage">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ms-1"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
            (click)="toggleAccordion()"
          >
            Internet Start
          </button>
        </h2>
        <!-- <h6 class="card-text align-content-center">R$23,90</h6> -->
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#internetPackage"
        >
          <div class="accordion-body">
            Placeholder content for this accordion, which is intended to
            demonstrate the <code>.accordion-flush</code> class. This is the
            first item's accordion body.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
